*.DS_Store
*/.DS_Store
*.dat
*.txt
*.zip
*.mod
*.o
*.xlsx
*.doc
*.chk
*.fig
*.eps
*.tex
*.png
*.sh
*~
Moab*
oxy
comb
JEDI
ElectronDist
NewElectronDist
OldElectronDist
Output
PlottingStuff/Plots
SIMXS
UnusedFiles
UpdatedElectronDist
2Stream/input
2Stream/common
2Stream/output
